* {
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: #f5f6fa;
}

.App {
  justify-content: space-around;
}

.sides-containers {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
  border-bottom: solid 1px #DDD;
}

.topbar {
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 22px;
  align-items: center;
} 

.topbar:hover p{
  cursor: pointer;
}

.topbar-left {
  display: flex;
}

.topbar-left .fa-icon {
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
}


.topbar > h1 {
  color: #252525;
  font-size: 22px;
}

.spinner {
  background-color: white;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.left-container {
  flex: 0.9;
}

.right-container {
  border-radius: 25px;
}

.info {
  padding: 15px;
  border-radius: 25px;
}

.info > h3 {
  color: #252525;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.info > h3:last-of-type {
  margin-top: 1rem;
}

.spinner-flag {
  height: 20px !important;
  width: 30px !important;
  float: right !important;
  padding-right: 15px !important;
}

.info-box-flag {
  height: 200px !important;
  width: 300px !important;
}

.country-name-title {
  font-size: 30px !important;
}

.menu-item {
  display: grid !important;
  justify-content: space-between !important;
}

td {
  padding: 0.5rem;
  border: none;
}

.articles {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

footer {
  padding: 15px;
  background-color: dodgerblue;
  color: #FFF;
  font-size: 24px !important;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

footer p {
  font-size: 18px !important;
}

.footer-fa-icon {
  font-size: 24px !important;
  transition: 0.6s ease-in-out !important;
} 

.footer-fa-icon:hover {
  cursor: pointer !important;
  color: gold !important;
}

.covid-logo {
  height: 20px;
}

.graphs-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #DDD;
}

@media (max-width: 1100px) {
  .sides-containers {
    flex-direction: column;
  }

  center h1 {
    color: transparent;
  }

  .sides-containers p {
    font-size: 10px;
  }

  .stats {
    flex-direction: column;
  }

  .graphs-by-country {
    flex-direction: column;
  }
}
.graphs-by-country {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.countries-list {
  overflow-y: scroll;
}

.countries-list-container {
  transition: all 0.2s;
}
