.table {
    padding-right: 5px;
    margin-top: 20px;
    overflow: scroll;
    color: #000000;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: white;
    height: 400px;
    overflow-x: hidden;
}

.table tr:first-child {
    align-items: center;
    text-align: center;
    align-content: center;
    border-top: solid 2px #888;
}
  
.table tr {
    align-items: center;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    border-right: solid 2px #888;
    border-left: solid 2px #888;
    border-bottom: solid 2px #888;
    transition: all ease-in-out 0.5s;
}

.table tr:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

/*
.table tr:hover .table-flag {
    transition: 0.7s;
}
*/


.table tr  td, th {
  color: rgb(138, 138, 138) !important;
  font-size: 15px im !important;
  border: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
    height: 10px;
    padding-left: 5px;
    display: grid;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    width: 10px;
    height: 70px;
    border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(182, 182, 182);
    transition: 0.5s ease-in-out;
}

.table-flag {
    border-radius: 4px;
    height: 30px;
    width: 50px;
}
